body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#navbar {
  background-color: #333;
  color: white;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-right: 25px;
}

#showcase {
  background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=355&q=80);
  background-position: center right;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  color: black;
}

#showcase h1 {
  line-height: 1.6em;
  padding-top: 25px;
}

#main {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 0 30px;
}

#sidebar {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  background: #333;
  color: white;
}

.excercises {
  width: 62.3%;
  margin: auto;
  border: grey solid;
  border-width: 10px;
  background-color: black;
  text-align: justify;
  color: white;
}

.excercises li {
  list-style: none;
  text-align: center;
}

.titleblock h1 {
  font-style: italic;
  text-decoration: underline;
  word-spacing: 0.3em;
}

.titleblock {
  padding-left: 50px;
  text-align: center;
  padding-top: 10px;
  margin-top: auto;
  line-height: normal;
  color: blue;
}

.maxh2 {
  color: red;
  padding-top: 10px;
  margin: auto;
  width: 70%;
  text-align: center;
}

.categories {
  margin: auto;
  width: 50%;
  text-align: justify;
  padding: 25px;
  color: black;
}

#main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  #main {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 100%;
  }
}
